<!DOCTYPE html>
<html lang="zh-CN">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="stylesheets/semantic.min.css">
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/semantic.min.js"></script>
    <script type="text/javascript" src="javascripts/cl_stuAdmin.js"></script>

    <style type="text/css">
        body {
            font-family: Verdana,Arial,Helvetica,sans-serif;
            margin: 0;
            background-color:#fff;
        }
        .ui.grid{
            margin:0;
        }
        .header-row1{
            height:100px;
        }
        .login-header {
            background-color: #0066b1;
            /*height: 160px;*/
        }

        .ui.white {
            color: #fff;
        }
        .text-center{
            text-align:center;
        }

        .ui.login-div{
            margin:30px 0 0 0;
        }

        stuInfo {

        }
    </style>

</head>
<body class="">
<div class="ui login-header">
    <div class="ui grid">

        <div class="row text-center">
            <h1 class="ui header white">
                <i class="settings icon"></i>
                后台管理-学生卡信息
            </h1>
        </div>
    </div>
</div>

<div class="ui top attached tabular menu">
    <a class="item " data-tab="first">学生总览</a>
    <a class="item active" data-tab="second">消费记录</a>
    <a class="item" data-tab="third">新增办卡</a>
    <a class="item" data-tab="four">模拟消费</a>
    <a class="item" data-tab="five">修改信息</a>
</div>
<div class="ui bottom attached tab segment " data-tab="first"><table class="ui celled table stuInfo">
        <thead>
        <tr><th>姓名</th>
            <th>年级</th>
            <th>性别</th>
            <th>学号</th>
            <th>余额</th>
        </tr></thead>
        <tbody>
        <tr>
            <td>口碑</td>
            <td>研一</td>
            <td>男</td>
            <td>1311082317</td>
            <td>180</td>
        </tr>
        <tr>
            <td>口碑</td>
            <td>研一</td>
            <td>男</td>
            <td>1322019913</td>
            <td>180</td>
        </tr>
        <tr>
            <td>口碑</td>
            <td>研一</td>
            <td>男</td>
            <td>1311003366</td>
            <td>180</td>
        </tr>
        </tbody>
        <tfoot>
        <tr><th colspan="5">
                <div class="ui right floated pagination menu">
                    <a class="icon item">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr></tfoot>
    </table> </div>
<div class="ui bottom attached tab segment active" data-tab="second"><table class="ui celled table stuInfo">
        <thead>
        <tr><th> 编号 </th>
            <th>操作</th>
            <th>金额</th>
            <th>地点</th>
            <th>时间</th>
        </tr></thead>

        <tbody>
        <tr>
            <td>1</td>
            <td>消费</td>
            <td>2.5</td>
            <td>本部一餐3号机</td>
            <td>20170903 14:58:09</td>
        </tr>
        <tr>
            <td>1</td>
            <td>消费</td>
            <td>2.5</td>
            <td>本部一餐3号机</td>
            <td>20170903 14:58:09</td>
        </tr>
        <tr>
            <td>1</td>
            <td>消费</td>
            <td>2.5</td>
            <td>本部一餐3号机</td>
            <td>20170903 14:58:09</td>
        </tr>
        <tr>
            <td>1</td>
            <td>消费</td>
            <td>2.5</td>
            <td>本部一餐3号机</td>
            <td>20170903 14:58:09</td>
        </tr>
        </tbody>

        <tfoot>
        <tr><th colspan="5">
                <div class="ui right floated pagination menu">
                    <a class="icon item">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr></tfoot>
    </table> </div>
<div class="ui bottom attached tab segment" data-tab="third">
    <form class="ui form">
        <h4 class="ui dividing header">新增学生信息</h4>
        <div class="field">
            <label>姓名</label>
            <div class="fields">
                <div class="field">
                    <input type="text" name="name" placeholder="张三">
                </div>
            </div >
        </div>
        <div class="field">
            <label>学号</label>
            <div class="fields">
                <div class="field">
                    <input type="text" name="stuNum" placeholder="1811090101">
                </div>
            </div >
        </div>
        <div class="field">
            <label>年级</label>
            <select class="ui fluid dropdown" name="grade">
                <option value="研一">研一</option>
                <option value="研二">研二</option>
                <option value="研三">研三</option>
                <option value="本科">本科</option>
            </select>
        </div>
        <div class="field">
            <label>性别</label>
            <select class="ui fluid dropdown" name="sex">
                <option value="male">男</option>
                <option value="female">女</option>
            </select>
        </div>
        <div class="field">
            <label>初始金额</label>
            <select class="ui fluid dropdown" name="money">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="300">300</option>
            </select>
        </div>
        <div class="ui button" tabindex="0">确认添加</div>
    </form> </div>
<div class="ui bottom attached tab segment" data-tab="four">
    <form class="ui form">
        <div class="field">
            <label>消费卡号</label>
            <div class="fields">
                <select class="ui fluid dropdown" name="fromStu">
                    <option value="1811082659">1511082659</option>
                    <option value="1511082660">1511082660</option>
                    <option value="1511082661">1511082661</option>
                    <option value="1511082662">1511082662</option>
                </select>
            </div >
        </div>
        <div class="field">
            <label>消费类型</label>
            <div class="fields">
                <select class="ui fluid dropdown" name="type">
                    <option value="消费">消费</option>
                    <option value="充值">充值</option>
                    <!--应该根据这里来生成消费地点选项-->
                </select>
            </div >
        </div>
        <div class="field">
            <label>消费金额</label>
            <div class="fields">
                <input type="number" name="count" placeholder="5">
            </div>
        </div>
        <div class="field">
            <label>消费地点</label>
            <div class="fields">
                <select class="ui fluid dropdown" name="place">
                    <option value="东区一餐">东区一餐</option>
                    <option value="东区二餐">东区二餐</option>
                    <option value="北区一餐">北区一餐</option>
                    <option value="北区二餐">北区二餐</option>
                </select>
            </div>
        </div>
        <div class="ui button" tabindex="1">确认添加</div>
    </form> </div>

<div class="ui bottom attached tab segment" data-tab="five">
    <form class="ui form">
        <div class="field">
            <label>学生卡号</label>
            <div class="fields">
                <select class="ui fluid dropdown" name="stuNum">
                    <option value="1811082659">1511082659</option>
                    <option value="1511082660">1511082660</option>
                    <option value="1511082661">1511082661</option>
                    <option value="1511082662">1511082662</option>
                </select>
            </div >
        </div>
        <div class="field">
            <label>姓名</label>
            <div class="fields">
                <div class="field">
                    <input type="text" name="name" placeholder="">
                </div>
            </div >
        </div>
        <div class="field">
            <label>年级</label>
            <select class="ui fluid dropdown" name="grade">
                <option value="研一">研一</option>
                <option value="研二">研二</option>
                <option value="研三">研三</option>
                <option value="本科">本科</option>
            </select>
        </div>
        <div class="field">
            <label>性别</label>
            <select class="ui fluid dropdown" name="sex">
                <option value="male">男</option>
                <option value="female">女</option>
            </select>
        </div>
        <div class="field">
            <label>初始金额</label>
            <select class="ui fluid dropdown" name="money">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="300">300</option>
            </select>
        </div>
        <!--<div class="two field">-->
            <div class="ui button" tabindex="2">确认更改</div>
            <div class="ui button" tabindex="3">删除该卡</div>
        <!--</div>-->
    </form> </div>
</body>

</html>